<img class="captcha" onclick="this.src='{{ $router->assemble_route('backend', array('controller'=>'auth', 'action'=>'captcha')) }}?'+Math.random();return false" src="{{ $router->assemble_route('backend', array('controller'=>'auth', 'action'=>'captcha')) }}?{{ rand(1, 99999) }}"/>