* {
    margin: 0;
    padding: 0;
    outline: none;
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    color: #7fa8ab;
    background-color: #fff;
    font: 12px/12px 'Trebuchet MS', Arial, sans-serif;
}
input[type="text"], input[type="password"], textarea, select {
    padding: 8px 0 8px 13px;
    width: 238px;
    background-color: #fff;
    border: 1px solid #7fa8ab;
    color: #7fa8ab;
    font: 14px/14px 'Trebuchet MS', Arial, sans-serif;
}
select {
    padding: 7px 0 7px 13px;
    width: 253px;
}
::-webkit-input-placeholder {
    line-height: normal;
    color: #7fa8ab;
}
:-moz-placeholder {
    opacity: 1;
    color: #7fa8ab;
}
::-moz-placeholder {
    opacity: 1;
    color: #7fa8ab;
}
:-ms-input-placeholder {
    color: #7fa8ab;
}
button {
    padding: 10px 24px;
    border: 0;
    background-color: #6a898b;
    text-transform: uppercase;
    color: #fff;
    font: 15px/15px 'Trebuchet MS', Arial, sans-serif;
}
button.disabled {
    background-color: #ccc;
}
img {
    border: 0;
}
a {
    text-decoration: underline;
    color: #7fa8ab;
}
.column {
    position: relative;
    float: left;
}
.err {
    border-color: #990000 !important;
}
.error {
    color: #990000;
}
.success {
    color: #7fa8ab;
}
#main {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}
    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        display: block;
        z-index: 999;
        background-color: #7fa8ab;
    }
        #logo {
            position: absolute;
            margin-left: -35px;
            top: 5px;
            left: 50%;
        }
            #logo img {
                width: 70px;
                height: auto;
            }
        #nav {
            margin: 12px 20% 0 0;
            float: right;
            display: inline-block;
        }
            #nav a {
                color: #fff;
                font: 14px/14px 'Trebuchet MS', Arial, sans-serif;
            }
    #page {
        position: relative;
        margin: 80px auto 20px;
        width: 800px;
        z-index: 1;
    }
        #parser {
            width: 100%;
            display: inline-block;
        }
            #parser .form {
                position: relative;
                margin-top: 45px;
            }
                #parser .form .column.keywords {
                    width: 290px;
                }
                    #parser .form .column.keywords .item {
                        margin-bottom: 19px;
                    }
                #parser .form .column.fields {
                    width: auto;
                    display: none;
                }
                    #parser .form .column.fields .title {
                        padding-left: 40px;
                    }
                    #parser .form .column .title {
                        margin: 0 0 29px;
                        font: 17px/17px 'Trebuchet MS', Arial, sans-serif;
                    }
                    #parser .form .column.fields .list {
                        padding-left: 40px;
                        width: 170px;
                        display: inline-block;
                        border: 1px solid #7fa8ab;
                        border-width: 0 1px 0 1px;
                    }
                        #parser .form .column.fields .list .item {
                            margin-bottom: 20px;
                        }
                            #parser .form .column.fields .list .item label span {
                                padding-left: 10px;
                                display: inline-block;
                                font: 15px/15px 'Trebuchet MS', Arial, sans-serif;
                            }
                #parser .form .column.results {
                    width: 290px;
                    display: none;
                }
                    #parser .form .column.results .title {
                        padding-left: 40px;
                    }
                    #parser .form .column.results .item {
                        padding-left: 40px;
                    }
                        #parser .form .column.results .item button {
                            float: left;
                        }
                        #parser .form .column.results .item #preloader {
                            margin: 2px 0 0 15px;
                            float: left;
                            width: 30px;
                            height: auto;
                            visibility: hidden;
                        }
                        #parser .form .column.results .item #parser_result {
                            margin: 10px 0 0 10px;
                            float: left;
                            max-width: 120px;
                            white-space: nowrap;
                            font: 14px/14px 'Trebuchet MS', Arial, sans-serif;
                        }
                            #parser .form .column.results .item #parser_result span {
                                padding-right: 5px;
                            }
                            #parser .form .column.results .item #parser_result a {
                                max-width: 150px;
                                overflow: hidden;
                            }