* {
    margin: 0;
    padding: 0;
    outline: none;
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    color: #7fa8ab;
    background-color: #fff;
    font: 12px/12px 'Trebuchet MS', Arial, sans-serif;
}
input[type="text"], input[type="password"] {
    padding: 8px 0 8px 13px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #7fa8ab;
    color: #7fa8ab;
    font: 15px/15px 'Trebuchet MS', Arial, sans-serif;
}
::-webkit-input-placeholder {
    line-height: normal;
    color: #7fa8ab;
}
:-moz-placeholder {
    opacity: 1;
    color: #7fa8ab;
}
::-moz-placeholder {
    opacity: 1;
    color: #7fa8ab;
}
:-ms-input-placeholder {
    color: #7fa8ab;
}
button {
    padding: 10px 24px;
    border: 0;
    background-color: #6a898b;
    text-transform: uppercase;
    color: #fff;
    font: 15px/15px 'Trebuchet MS', Arial, sans-serif;
}
img {
    border: 0;
}
a {
    text-decoration: underline;
    color: #7fa8ab;
}
.err {
    border-color: #990000 !important;
}
.captcha {
    cursor: pointer;
}
#simple_page {
    position: relative;
    width: 100%;
    height: 100%;
}
    #main {
        position: absolute;
        margin: -165px 0 0 -165px;
        top: 50%;
        left: 50%;
        width: 330px;
        border: 1px solid #7fa8ab;
    }
        #inner {
            position: relative;
            padding: 68px 0 28px 57px;
        }
            #logo {
                position: absolute;
                top: -40px;
                left: 123px;
            }
            #inner .form {
                position: relative;
                min-height: 150px;
                display: inline-block;
            }
                #inner .form .title {
                    font: 30px/30px 'Trebuchet MS', Arial, sans-serif;
                }
                #inner .form .item {
                    position: relative;
                    margin-top: 12px;
                }
                    #inner .form .item .forgot {
                        float: right;
                        line-height: 16px;
                    }
                    #inner .form .item button {
                        margin-top: 5px;
                    }
                    #inner .form .form_tab .right .help {
                        margin: 4px 0 17px 0;
                        line-height: 14px;
                        font-size: 11px;
                    }
                    #inner .form .success,
                    #inner .form .errors {
                        padding: 5px 0 0;
                    }
                    #inner .form .success p {
                        color: #7fa8ab;
                    }
                    #inner .form .errors p {
                        color: #990000;
                    }
            #inner .form.recovery,
            #inner .form.changepass {
                max-width: 215px;
            }
                #inner .form.recovery .title {
                    font-size: 25px;
                }
                #inner .form.changepass .title {
                    font-size: 27px;
                }
                #inner .form.recovery .sign_in,
                #inner .form.changepass .sign_in {
                    float: right;
                }